In [1]:
import requests
import pandas as pd
import time
from pygame import mixer #for sound
from datetime import datetime, timedelta #for looping over date
import numpy as np

pygame 2.6.1 (SDL 2.28.4, Python 3.12.3)
Hello from the pygame community. https://www.pygame.org/contribute.html

In [2]:
API_key = 'JTFthLtGYuKFQK47MPvQcrabXJRJPk5nUEgaric4f17oP5VJcHyHqsqCMWXu'

#append to dictipnary 
def app_dictionary(id, list, dictionary):
    if id not in dictionary: #checks if column with key already exists 
        dictionary[id] = [list]
    else:
        dictionary[id].append(list) #if yes, it appends to key value

#running api calls and returning result + pagination
def run_api(api_call):
    try:
        result = requests.get(api_call)
        result = result.json()
    except ValueError:
        print(f"Failed to decode JSON. Please check API call: {api_call}")

    #checks if there is a next page
    #if yes it returns true, if no it returns false
    try:
        has_more = result['pagination']['has_more']
    except:
        has_more = False

    try:
        rate_limit = result['rate_limit']['remaining']
        reset = result['rate_limit']['resets_in_seconds']
    except:
        print('no rate limit available')

    return result, has_more, rate_limit, reset

#function for playing sound
def play_sound():
    mixer.init()
    mixer.music.load('done-for-you.mp3')
    mixer.music.play()

def run_pages(api_first, api_second): 
    results, has_more, rate_limit, reset = run_api(f"{api_first}{api_second}")

    page = 2
    while has_more == True:
        if int(rate_limit) > 1:
            next_results, has_more, rate_limit, reset = run_api(f"{api_first}page={page}&{api_second}")
            results['data'] = results['data'] + next_results['data']
            page += 1
        else:
            print(f'Starting sleep timer for: {reset} seconds...')
            time.sleep(int(reset))
    else:
        pass
        
    return results

### **Load data**
<br>
Need to find which teams have played for which seasons, and then set the time interval to the season duration and only get the data for the correct teams.

In [3]:
teams_df = pd.read_csv('data/teams.csv')
seasons_df = pd.read_csv('data/seasons.csv')
leagues_df = pd.read_csv('data/leagues.csv')

Creating dictionary with seasons start date, end date, id, and teams participating in the season

In [48]:
season_dict = {'id':[], 'starting_at':[], 'ending_at':[]}
for row in seasons_df.index:
    app_dictionary('id', str(seasons_df.iloc[row]['id']), season_dict)
    app_dictionary('starting_at', str(seasons_df.iloc[row]['starting_at']), season_dict)
    app_dictionary('ending_at', seasons_df.iloc[row]['ending_at'], season_dict)
    app_dictionary('teams', [i for i in teams_df.loc[teams_df['season_id'] == int(seasons_df.iloc[row]['id'])]['id']], season_dict)

In [181]:
season_dict = pd.DataFrame.from_dict(season_dict)
season_dict.to_csv('data/seasons_info.csv')
season_dict

,id,starting_at,ending_at,teams
0,19734,2022-08-05,2023-05-28,"[78, 11, 8, 19, 42, 29, 71, 51, 14, 236, 52, 2..."
1,19744,2022-08-05,2023-05-27,"[3317, 1079, 510, 3321, 3543, 68, 82, 3320, 67..."
2,19799,2022-08-12,2023-06-04,"[3477, 3468, 485, 36, 1099, 361, 6827, 645, 23..."
3,19806,2022-08-13,2023-06-11,"[10722, 2930, 397, 522, 1123, 625, 345, 1628, ..."
4,21646,2023-08-11,2024-05-19,"[78, 11, 8, 19, 29, 115, 51, 21, 14, 236, 52, ..."
5,21694,2023-08-11,2024-05-26,"[377, 3477, 3468, 103, 485, 2921, 36, 6827, 64..."
6,21795,2023-08-18,2024-05-18,"[1079, 510, 3321, 3543, 68, 82, 3320, 277, 90,..."
7,21818,2023-08-19,2024-06-02,"[1628, 708, 346, 7743, 113, 102, 109, 43, 37, ..."
8,17361,2020-09-18,2021-05-22,"[3317, 1079, 510, 3321, 3543, 68, 82, 2927, 33..."
9,17420,2020-09-12,2021-05-23,"[78, 11, 8, 19, 42, 29, 71, 51, 21, 14, 20, 13..."
10,17480,2020-09-12,2021-05-23,"[3477, 3468, 103, 485, 36, 3457, 1099, 60, 361..."
11,17488,2020-09-19,2021-05-23,"[2930, 563, 522, 1123, 625, 585, 345, 89, 708,..."
12,18378,2021-08-13,2022-05-22,"[78, 8, 19, 42, 25, 29, 71, 51, 14, 236, 20, 3..."
13,18444,2021-08-13,2022-05-14,"[3317, 1079, 510, 3321, 3543, 68, 2927, 3431, ..."
14,18462,2021-08-13,2022-05-22,"[377, 3477, 3468, 103, 485, 36, 3457, 1099, 68..."
15,18576,2021-08-21,2022-05-22,"[2930, 397, 522, 1123, 625, 585, 345, 708, 346..."
16,12962,2018-08-10,2019-05-12,"[78, 11, 8, 19, 42, 69, 25, 29, 51, 14, 52, 20..."
17,13005,2018-08-24,2019-05-18,"[510, 3321, 3543, 68, 82, 67, 277, 90, 1092, 6..."
18,13133,2018-08-17,2019-05-19,"[3477, 3468, 485, 36, 3457, 60, 361, 231, 676,..."
19,13158,2018-08-18,2019-05-26,"[708, 346, 394, 113, 102, 97, 109, 43, 37, 407..."
20,16036,2019-08-09,2020-07-26,"[78, 8, 19, 42, 25, 29, 51, 21, 14, 52, 20, 33..."
21,16264,2019-08-16,2020-06-27,"[3317, 1079, 510, 3321, 3543, 68, 82, 3320, 67..."
22,16326,2019-08-16,2020-07-19,"[3477, 3468, 103, 485, 36, 3457, 60, 361, 645,..."
23,16415,2019-08-24,2020-08-02,"[708, 346, 10729, 394, 113, 102, 109, 43, 37, ..."
24,13,2016-08-13,2017-05-21,"[8, 19, 42, 25, 30, 51, 14, 3, 52, 22, 13, 10,..."
25,219,2016-08-26,2017-05-20,"[2726, 482, 366, 794, 503, 2708, 3317, 573, 51..."
26,802,2016-08-20,2017-05-28,"[89, 708, 346, 1216, 113, 102, 97, 109, 43, 37..."
27,853,2016-08-19,2017-05-21,"[126, 3477, 3468, 103, 485, 344, 429, 2921, 36..."
28,6397,2017-08-11,2018-05-13,"[78, 8, 19, 42, 25, 30, 51, 14, 52, 20, 13, 10..."
29,8026,2017-08-18,2018-05-12,"[510, 3321, 3543, 68, 82, 3320, 67, 277, 90, 6..."
30,8442,2017-08-18,2018-05-20,"[3477, 3468, 485, 429, 2921, 36, 3457, 60, 231..."
31,8557,2017-08-19,2018-05-20,"[89, 708, 346, 394, 113, 102, 97, 109, 43, 37,..."
32,10,2015-08-08,2016-05-17,"[8, 19, 42, 25, 30, 51, 14, 3, 52, 20, 33, 13,..."
33,12,2014-08-16,2015-05-24,"[8, 19, 42, 30, 51, 47, 14, 3, 22, 20, 13, 10,..."
34,217,2014-08-22,2015-05-23,"[510, 3321, 3543, 68, 82, 3320, 67, 90, 683, 3..."
35,218,2015-08-14,2016-05-14,"[2554, 2726, 482, 366, 794, 503, 2708, 3317, 5..."
36,1583,2014-08-30,2015-05-31,"[708, 346, 1216, 113, 102, 97, 109, 43, 37, 61..."
37,1584,2015-08-22,2016-05-15,"[708, 346, 10824, 1216, 113, 102, 97, 109, 43,..."
38,2061,2014-08-23,2015-05-23,"[429, 36, 3457, 1099, 60, 676, 83, 594, 214, 7..."
39,2063,2015-08-21,2016-05-15,"[377, 126, 3477, 3468, 103, 485, 344, 429, 292..."
40,3,2013-08-17,2014-05-11,"[11, 8, 19, 69, 30, 51, 14, 3, 22, 20, 33, 13,..."
41,7,2012-08-18,2013-05-19,"[11, 8, 19, 30, 47, 14, 3, 17, 20, 33, 13, 10,..."
42,215,2012-08-24,2013-05-18,"[510, 3321, 3543, 68, 82, 3431, 67, 90, 1092, ..."
43,216,2013-08-09,2014-05-10,"[510, 3321, 3565, 3543, 68, 82, 67, 90, 683, 3..."
44,1581,2012-08-25,2013-05-19,"[9133, 708, 346, 3691, 1216, 113, 102, 97, 109..."
45,1582,2013-08-24,2014-05-18,"[9133, 708, 346, 10714, 113, 102, 97, 109, 43,..."
46,2059,2012-08-18,2013-06-01,"[3468, 103, 485, 429, 3968, 36, 3457, 361, 645..."
47,2060,2013-08-17,2014-05-18,"[377, 126, 3477, 3468, 103, 485, 36, 3457, 109..."

In [183]:
season_dict[9:]['starting_at']
season_dict[9:]['ending_at']
season_dict[9:]['teams']
season_dict[9:]['id']

9     17420
10    17480
11    17488
12    18378
13    18444
14    18462
15    18576
16    12962
17    13005
18    13133
19    13158
20    16036
21    16264
22    16326
23    16415
24       13
25      219
26      802
27      853
28     6397
29     8026
30     8442
31     8557
32       10
33       12
34      217
35      218
36     1583
37     1584
38     2061
39     2063
40        3
41        7
42      215
43      216
44     1581
45     1582
46     2059
47     2060
Name: id, dtype: object

In [185]:
start_dates = season_dict[22:]['starting_at']
end_dates = season_dict[22:]['ending_at']
teams_inSeasons = season_dict[22:]['teams']
season_id = season_dict[22:]['id']

# This allows you to work with all rows at once
for season_start, season_end, teams_inSeason, season_id in zip(start_dates, end_dates, teams_inSeasons, season_id):
    print(f'Starting: {season_start}, {season_end}, {teams_inSeason}, {season_id}')
    fixtures = {'fixture_id':[], 'name': [], 'league_id':[], 'season_id':[], 'venue_id':[], 'formation_away':[], 'formation_home': [], 'referee':[]}
    events = []
    weather_pitch = {'fixture_id':[], 'pitch': [], 'weatherDescription':[], 'current':[]}
    for team in teams_inSeason:
        start_date = datetime.strptime(season_start, '%Y-%m-%d')
        end_date = datetime.strptime(season_end, '%Y-%m-%d')
        #find parameters
        total_days = (end_date - start_date).days
        days_interval = 100

        # Variable to store the previous date
        previous_date = None
        # Loop over the 300 days in 100-day intervals\n",
        for i in range(0, total_days, days_interval):
            current_date = start_date + timedelta(days=i)
            formatted_date = current_date.strftime('%Y-%m-%d')

            # Print the previous and current date,
            if previous_date:
                print(f"Previous date: {previous_date} -> Next date: {formatted_date}")
                first = 'https://api.sportmonks.com/v3/football/fixtures/between/' + str(previous_date) + '/' + str(formatted_date) + '/' + str(team) + '?'
                second = 'api_token=' + API_key + '&per_page=50&select=name&include=metadata;formations;weatherReport:description,current;referees;events:type_id,addition,minute&filters=eventTypes:10,19,20,21;metadataTypes:567' 
                results = run_pages(first, second)
                
                try: 
                    for result in results['data']:
                        #all events
                        events = events + result['events']

                        #creating weather dataset
                        weather_pitch['fixture_id'].append(result['id'])
                        if result['metadata']:
                            weather_pitch['pitch'].append(result['metadata'][0]['values']['pitch'])
                        else:
                            weather_pitch['pitch'].append('NaN')
                        try:
                            weather_pitch['weatherDescription'].append(result['weatherreport']['description'])
                        except TypeError:
                            weather_pitch['weatherDescription'].append('NaN')
                        try:
                            weather_pitch['current'].append(result['weatherreport']['current'])
                        except TypeError:
                            weather_pitch['current'].append('NaN')

                        #creating fixture dataset
                        fixtures['fixture_id'].append(result['id'])
                        fixtures['name'].append(result['name'])
                        fixtures['league_id'].append(result['league_id'])
                        fixtures['season_id'].append(result['season_id'])
                        fixtures['venue_id'].append(result['venue_id'])
                        if result['formations']:
                            try:
                                fixtures['formation_away'].append(result['formations'][0]['formation'])
                                fixtures['formation_home'].append(result['formations'][1]['formation'])
                            except IndexError:
                                fixtures['formation_away'].append(result['formation'])
                                fixtures['formation_home'].append(result['formation'])
                        else:
                            fixtures['formation_away'].append('NaN')
                            fixtures['formation_home'].append('NaN')
                        #choosing the main referee -> type 6
                        try:
                            fixtures['referee'].append([referee['id'] for referee in result['referees'] if referee['type_id'] == 6][0])
                        except IndexError:
                            fixtures['referee'].append(result['referees'])
                except KeyError:
                    print(f'No data for {team}')
                 
            else: # Avoiding calling only the first date 
                print(f"First date: {formatted_date}") 
        
            previous_date = formatted_date

    #saving dataframe
    events = {'data': events}
    events = pd.DataFrame.from_dict(events['data'])
    fixtures = pd.DataFrame.from_dict(fixtures)
    weather_pitch = pd.DataFrame.from_dict(weather_pitch)

    #dropping duplicates 
    events.drop_duplicates()
    fixtures.drop_duplicates(subset=['fixture_id'], inplace=True)
    weather_pitch.drop_duplicates(subset=['fixture_id'], inplace=True)

    #saving as csv
    events.to_csv(f'data/events/events_{season_id}.csv')
    fixtures.to_csv(f'data/fixtures/fixtures_{season_id}.csv') 
    weather_pitch.to_csv(f'data/weather/weather_{season_id}.csv')

Starting: 2019-08-16, 2020-07-19, [3477, 3468, 103, 485, 36, 3457, 60, 361, 645, 676, 83, 2975, 594, 214, 7980, 844, 106, 13258, 528, 459], 16326
First date: 2019-08-16
Previous date: 2019-08-16 -> Next date: 2019-11-24
Previous date: 2019-11-24 -> Next date: 2020-03-03
Previous date: 2020-03-03 -> Next date: 2020-06-11
First date: 2019-08-16
Previous date: 2019-08-16 -> Next date: 2019-11-24
Previous date: 2019-11-24 -> Next date: 2020-03-03
Previous date: 2020-03-03 -> Next date: 2020-06-11
First date: 2019-08-16
Previous date: 2019-08-16 -> Next date: 2019-11-24
Previous date: 2019-11-24 -> Next date: 2020-03-03
Previous date: 2020-03-03 -> Next date: 2020-06-11
First date: 2019-08-16
Previous date: 2019-08-16 -> Next date: 2019-11-24
Previous date: 2019-11-24 -> Next date: 2020-03-03
Previous date: 2020-03-03 -> Next date: 2020-06-11
First date: 2019-08-16
Previous date: 2019-08-16 -> Next date: 2019-11-24
Previous date: 2019-11-24 -> Next date: 2020-03-03
Previous date: 2020-03-03 -> Next date: 2020-06-11
First date: 2019-08-16
Previous date: 2019-08-16 -> Next date: 2019-11-24
Previous date: 2019-11-24 -> Next date: 2020-03-03
Previous date: 2020-03-03 -> Next date: 2020-06-11
First date: 2019-08-16
Previous date: 2019-08-16 -> Next date: 2019-11-24
Previous date: 2019-11-24 -> Next date: 2020-03-03
Previous date: 2020-03-03 -> Next date: 2020-06-11
First date: 2019-08-16
Previous date: 2019-08-16 -> Next date: 2019-11-24
Previous date: 2019-11-24 -> Next date: 2020-03-03
Previous date: 2020-03-03 -> Next date: 2020-06-11
First date: 2019-08-16
Previous date: 2019-08-16 -> Next date: 2019-11-24
Previous date: 2019-11-24 -> Next date: 2020-03-03
Previous date: 2020-03-03 -> Next date: 2020-06-11
First date: 2019-08-16
Previous date: 2019-08-16 -> Next date: 2019-11-24
Previous date: 2019-11-24 -> Next date: 2020-03-03
Previous date: 2020-03-03 -> Next date: 2020-06-11
First date: 2019-08-16
Previous date: 2019-08-16 -> Next date: 2019-11-24
Previous date: 2019-11-24 -> Next date: 2020-03-03
Previous date: 2020-03-03 -> Next date: 2020-06-11
First date: 2019-08-16
Previous date: 2019-08-16 -> Next date: 2019-11-24
Previous date: 2019-11-24 -> Next date: 2020-03-03
Previous date: 2020-03-03 -> Next date: 2020-06-11
First date: 2019-08-16
Previous date: 2019-08-16 -> Next date: 2019-11-24
Previous date: 2019-11-24 -> Next date: 2020-03-03
Previous date: 2020-03-03 -> Next date: 2020-06-11
First date: 2019-08-16
Previous date: 2019-08-16 -> Next date: 2019-11-24
Previous date: 2019-11-24 -> Next date: 2020-03-03
Previous date: 2020-03-03 -> Next date: 2020-06-11
First date: 2019-08-16
Previous date: 2019-08-16 -> Next date: 2019-11-24
Previous date: 2019-11-24 -> Next date: 2020-03-03
Previous date: 2020-03-03 -> Next date: 2020-06-11
First date: 2019-08-16
Previous date: 2019-08-16 -> Next date: 2019-11-24
Previous date: 2019-11-24 -> Next date: 2020-03-03
Previous date: 2020-03-03 -> Next date: 2020-06-11
First date: 2019-08-16
Previous date: 2019-08-16 -> Next date: 2019-11-24
Previous date: 2019-11-24 -> Next date: 2020-03-03
Previous date: 2020-03-03 -> Next date: 2020-06-11
First date: 2019-08-16
Previous date: 2019-08-16 -> Next date: 2019-11-24
Previous date: 2019-11-24 -> Next date: 2020-03-03
Previous date: 2020-03-03 -> Next date: 2020-06-11
First date: 2019-08-16
Previous date: 2019-08-16 -> Next date: 2019-11-24
Previous date: 2019-11-24 -> Next date: 2020-03-03
Previous date: 2020-03-03 -> Next date: 2020-06-11
First date: 2019-08-16
Previous date: 2019-08-16 -> Next date: 2019-11-24
Previous date: 2019-11-24 -> Next date: 2020-03-03
Previous date: 2020-03-03 -> Next date: 2020-06-11
Starting: 2019-08-24, 2020-08-02, [708, 346, 10729, 394, 113, 102, 109, 43, 37, 613, 7790, 8513, 2714, 597, 398, 2930, 522, 1123, 625, 585], 16415
First date: 2019-08-24
Previous date: 2019-08-24 -> Next date: 2019-12-02
Previous date: 2019-12-02 -> Next date: 2020-03-11
Previous date: 2020-03-11 -> Next date: 2020-06-19
No data for 708
First date: 2019-08-24
Previous date: 2019-08-24 -> Next date: 2019-12-02
Previous date: 2019-12-02 -> Next date: 2020-03-11
Previous date: 2020-03-11 -> Next date: 2020-06-19
No data for 346
First date: 2019-08-24
Previous date: 2019-08-24 -> Next date: 2019-12-02
Previous date: 2019-12-02 -> Next date: 2020-03-11
Previous date: 2020-03-11 -> Next date: 2020-06-19
No data for 10729
First date: 2019-08-24
Previous date: 2019-08-24 -> Next date: 2019-12-02
Previous date: 2019-12-02 -> Next date: 2020-03-11
Previous date: 2020-03-11 -> Next date: 2020-06-19
No data for 394
First date: 2019-08-24
Previous date: 2019-08-24 -> Next date: 2019-12-02
Previous date: 2019-12-02 -> Next date: 2020-03-11
Previous date: 2020-03-11 -> Next date: 2020-06-19
First date: 2019-08-24
Previous date: 2019-08-24 -> Next date: 2019-12-02
Previous date: 2019-12-02 -> Next date: 2020-03-11
Previous date: 2020-03-11 -> Next date: 2020-06-19
No data for 102
First date: 2019-08-24
Previous date: 2019-08-24 -> Next date: 2019-12-02
Previous date: 2019-12-02 -> Next date: 2020-03-11
Previous date: 2020-03-11 -> Next date: 2020-06-19
No data for 109
First date: 2019-08-24
Previous date: 2019-08-24 -> Next date: 2019-12-02
Previous date: 2019-12-02 -> Next date: 2020-03-11
Previous date: 2020-03-11 -> Next date: 2020-06-19
No data for 43
First date: 2019-08-24
Previous date: 2019-08-24 -> Next date: 2019-12-02
Previous date: 2019-12-02 -> Next date: 2020-03-11
Previous date: 2020-03-11 -> Next date: 2020-06-19
No data for 37
First date: 2019-08-24
Previous date: 2019-08-24 -> Next date: 2019-12-02
Previous date: 2019-12-02 -> Next date: 2020-03-11
Previous date: 2020-03-11 -> Next date: 2020-06-19
No data for 613
First date: 2019-08-24
Previous date: 2019-08-24 -> Next date: 2019-12-02
Previous date: 2019-12-02 -> Next date: 2020-03-11
Previous date: 2020-03-11 -> Next date: 2020-06-19
No data for 7790
First date: 2019-08-24
Previous date: 2019-08-24 -> Next date: 2019-12-02
Previous date: 2019-12-02 -> Next date: 2020-03-11
Previous date: 2020-03-11 -> Next date: 2020-06-19
No data for 8513
First date: 2019-08-24
Previous date: 2019-08-24 -> Next date: 2019-12-02
Previous date: 2019-12-02 -> Next date: 2020-03-11
Previous date: 2020-03-11 -> Next date: 2020-06-19
No data for 2714
First date: 2019-08-24
Previous date: 2019-08-24 -> Next date: 2019-12-02
Previous date: 2019-12-02 -> Next date: 2020-03-11
Previous date: 2020-03-11 -> Next date: 2020-06-19
First date: 2019-08-24
Previous date: 2019-08-24 -> Next date: 2019-12-02
Previous date: 2019-12-02 -> Next date: 2020-03-11
Previous date: 2020-03-11 -> Next date: 2020-06-19
No data for 398
First date: 2019-08-24
Previous date: 2019-08-24 -> Next date: 2019-12-02
Previous date: 2019-12-02 -> Next date: 2020-03-11
Previous date: 2020-03-11 -> Next date: 2020-06-19
First date: 2019-08-24
Previous date: 2019-08-24 -> Next date: 2019-12-02
Previous date: 2019-12-02 -> Next date: 2020-03-11
Previous date: 2020-03-11 -> Next date: 2020-06-19
No data for 522
First date: 2019-08-24
Previous date: 2019-08-24 -> Next date: 2019-12-02
Previous date: 2019-12-02 -> Next date: 2020-03-11
Previous date: 2020-03-11 -> Next date: 2020-06-19
No data for 1123
First date: 2019-08-24
Previous date: 2019-08-24 -> Next date: 2019-12-02
Previous date: 2019-12-02 -> Next date: 2020-03-11
Previous date: 2020-03-11 -> Next date: 2020-06-19
First date: 2019-08-24
Previous date: 2019-08-24 -> Next date: 2019-12-02
Previous date: 2019-12-02 -> Next date: 2020-03-11
Previous date: 2020-03-11 -> Next date: 2020-06-19
No data for 585
Starting: 2016-08-13, 2017-05-21, [8, 19, 42, 25, 30, 51, 14, 3, 52, 22, 13, 10, 9, 7, 1, 65, 18, 6, 26, 27], 13
First date: 2016-08-13
Previous date: 2016-08-13 -> Next date: 2016-11-21
Previous date: 2016-11-21 -> Next date: 2017-03-01
First date: 2016-08-13
Previous date: 2016-08-13 -> Next date: 2016-11-21
Previous date: 2016-11-21 -> Next date: 2017-03-01
First date: 2016-08-13
Previous date: 2016-08-13 -> Next date: 2016-11-21
Previous date: 2016-11-21 -> Next date: 2017-03-01
First date: 2016-08-13
Previous date: 2016-08-13 -> Next date: 2016-11-21
Previous date: 2016-11-21 -> Next date: 2017-03-01
First date: 2016-08-13
Previous date: 2016-08-13 -> Next date: 2016-11-21
Previous date: 2016-11-21 -> Next date: 2017-03-01
First date: 2016-08-13
Previous date: 2016-08-13 -> Next date: 2016-11-21
Previous date: 2016-11-21 -> Next date: 2017-03-01
First date: 2016-08-13
Previous date: 2016-08-13 -> Next date: 2016-11-21
Previous date: 2016-11-21 -> Next date: 2017-03-01
First date: 2016-08-13
Previous date: 2016-08-13 -> Next date: 2016-11-21
Previous date: 2016-11-21 -> Next date: 2017-03-01
First date: 2016-08-13
Previous date: 2016-08-13 -> Next date: 2016-11-21
Previous date: 2016-11-21 -> Next date: 2017-03-01
First date: 2016-08-13
Previous date: 2016-08-13 -> Next date: 2016-11-21
Previous date: 2016-11-21 -> Next date: 2017-03-01
First date: 2016-08-13
Previous date: 2016-08-13 -> Next date: 2016-11-21
Previous date: 2016-11-21 -> Next date: 2017-03-01
First date: 2016-08-13
Previous date: 2016-08-13 -> Next date: 2016-11-21
Previous date: 2016-11-21 -> Next date: 2017-03-01
First date: 2016-08-13
Previous date: 2016-08-13 -> Next date: 2016-11-21
Previous date: 2016-11-21 -> Next date: 2017-03-01
First date: 2016-08-13
Previous date: 2016-08-13 -> Next date: 2016-11-21
Previous date: 2016-11-21 -> Next date: 2017-03-01
First date: 2016-08-13
Previous date: 2016-08-13 -> Next date: 2016-11-21
Previous date: 2016-11-21 -> Next date: 2017-03-01
First date: 2016-08-13
Previous date: 2016-08-13 -> Next date: 2016-11-21
Previous date: 2016-11-21 -> Next date: 2017-03-01
First date: 2016-08-13
Previous date: 2016-08-13 -> Next date: 2016-11-21
Previous date: 2016-11-21 -> Next date: 2017-03-01
First date: 2016-08-13
Previous date: 2016-08-13 -> Next date: 2016-11-21
Previous date: 2016-11-21 -> Next date: 2017-03-01
First date: 2016-08-13
Previous date: 2016-08-13 -> Next date: 2016-11-21
Previous date: 2016-11-21 -> Next date: 2017-03-01
First date: 2016-08-13
Previous date: 2016-08-13 -> Next date: 2016-11-21
Previous date: 2016-11-21 -> Next date: 2017-03-01
Starting: 2016-08-26, 2017-05-20, [2726, 482, 366, 794, 503, 2708, 3317, 573, 510, 3321, 3543, 68, 82, 3320, 67, 277, 90, 683], 219
First date: 2016-08-26
Previous date: 2016-08-26 -> Next date: 2016-12-04
Previous date: 2016-12-04 -> Next date: 2017-03-14
First date: 2016-08-26
Previous date: 2016-08-26 -> Next date: 2016-12-04
Previous date: 2016-12-04 -> Next date: 2017-03-14
First date: 2016-08-26
Previous date: 2016-08-26 -> Next date: 2016-12-04
Previous date: 2016-12-04 -> Next date: 2017-03-14
First date: 2016-08-26
Previous date: 2016-08-26 -> Next date: 2016-12-04
Previous date: 2016-12-04 -> Next date: 2017-03-14
First date: 2016-08-26
Previous date: 2016-08-26 -> Next date: 2016-12-04
Previous date: 2016-12-04 -> Next date: 2017-03-14
First date: 2016-08-26
Previous date: 2016-08-26 -> Next date: 2016-12-04
Previous date: 2016-12-04 -> Next date: 2017-03-14
First date: 2016-08-26
Previous date: 2016-08-26 -> Next date: 2016-12-04
Previous date: 2016-12-04 -> Next date: 2017-03-14
First date: 2016-08-26
Previous date: 2016-08-26 -> Next date: 2016-12-04
Previous date: 2016-12-04 -> Next date: 2017-03-14
First date: 2016-08-26
Previous date: 2016-08-26 -> Next date: 2016-12-04
Previous date: 2016-12-04 -> Next date: 2017-03-14
First date: 2016-08-26
Previous date: 2016-08-26 -> Next date: 2016-12-04
Previous date: 2016-12-04 -> Next date: 2017-03-14
First date: 2016-08-26
Previous date: 2016-08-26 -> Next date: 2016-12-04
Previous date: 2016-12-04 -> Next date: 2017-03-14
First date: 2016-08-26
Previous date: 2016-08-26 -> Next date: 2016-12-04
Previous date: 2016-12-04 -> Next date: 2017-03-14
First date: 2016-08-26
Previous date: 2016-08-26 -> Next date: 2016-12-04
Previous date: 2016-12-04 -> Next date: 2017-03-14
First date: 2016-08-26
Previous date: 2016-08-26 -> Next date: 2016-12-04
Previous date: 2016-12-04 -> Next date: 2017-03-14
First date: 2016-08-26
Previous date: 2016-08-26 -> Next date: 2016-12-04
Previous date: 2016-12-04 -> Next date: 2017-03-14
First date: 2016-08-26
Previous date: 2016-08-26 -> Next date: 2016-12-04
Previous date: 2016-12-04 -> Next date: 2017-03-14
First date: 2016-08-26
Previous date: 2016-08-26 -> Next date: 2016-12-04
Previous date: 2016-12-04 -> Next date: 2017-03-14
First date: 2016-08-26
Previous date: 2016-08-26 -> Next date: 2016-12-04
Previous date: 2016-12-04 -> Next date: 2017-03-14
Starting: 2016-08-20, 2017-05-28, [89, 708, 346, 1216, 113, 102, 97, 109, 43, 37, 613, 1343, 8513, 2714, 597, 2930, 397, 522, 625, 585], 802
First date: 2016-08-20
Previous date: 2016-08-20 -> Next date: 2016-11-28
Previous date: 2016-11-28 -> Next date: 2017-03-08
First date: 2016-08-20
Previous date: 2016-08-20 -> Next date: 2016-11-28
Previous date: 2016-11-28 -> Next date: 2017-03-08
First date: 2016-08-20
Previous date: 2016-08-20 -> Next date: 2016-11-28
Previous date: 2016-11-28 -> Next date: 2017-03-08
First date: 2016-08-20
Previous date: 2016-08-20 -> Next date: 2016-11-28
Previous date: 2016-11-28 -> Next date: 2017-03-08
First date: 2016-08-20
Previous date: 2016-08-20 -> Next date: 2016-11-28
Previous date: 2016-11-28 -> Next date: 2017-03-08
First date: 2016-08-20
Previous date: 2016-08-20 -> Next date: 2016-11-28
Previous date: 2016-11-28 -> Next date: 2017-03-08
First date: 2016-08-20
Previous date: 2016-08-20 -> Next date: 2016-11-28
Previous date: 2016-11-28 -> Next date: 2017-03-08
First date: 2016-08-20
Previous date: 2016-08-20 -> Next date: 2016-11-28
Previous date: 2016-11-28 -> Next date: 2017-03-08
First date: 2016-08-20
Previous date: 2016-08-20 -> Next date: 2016-11-28
Previous date: 2016-11-28 -> Next date: 2017-03-08
First date: 2016-08-20
Previous date: 2016-08-20 -> Next date: 2016-11-28
Previous date: 2016-11-28 -> Next date: 2017-03-08
First date: 2016-08-20
Previous date: 2016-08-20 -> Next date: 2016-11-28
Previous date: 2016-11-28 -> Next date: 2017-03-08
First date: 2016-08-20
Previous date: 2016-08-20 -> Next date: 2016-11-28
Previous date: 2016-11-28 -> Next date: 2017-03-08
First date: 2016-08-20
Previous date: 2016-08-20 -> Next date: 2016-11-28
Previous date: 2016-11-28 -> Next date: 2017-03-08
First date: 2016-08-20
Previous date: 2016-08-20 -> Next date: 2016-11-28
Previous date: 2016-11-28 -> Next date: 2017-03-08
First date: 2016-08-20
Previous date: 2016-08-20 -> Next date: 2016-11-28
Previous date: 2016-11-28 -> Next date: 2017-03-08
First date: 2016-08-20
Previous date: 2016-08-20 -> Next date: 2016-11-28
Previous date: 2016-11-28 -> Next date: 2017-03-08
First date: 2016-08-20
Previous date: 2016-08-20 -> Next date: 2016-11-28
Previous date: 2016-11-28 -> Next date: 2017-03-08
First date: 2016-08-20
Previous date: 2016-08-20 -> Next date: 2016-11-28
Previous date: 2016-11-28 -> Next date: 2017-03-08
First date: 2016-08-20
Previous date: 2016-08-20 -> Next date: 2016-11-28
Previous date: 2016-11-28 -> Next date: 2017-03-08
First date: 2016-08-20
Previous date: 2016-08-20 -> Next date: 2016-11-28
Previous date: 2016-11-28 -> Next date: 2017-03-08
Starting: 2016-08-19, 2017-05-21, [126, 3477, 3468, 103, 485, 344, 429, 2921, 36, 60, 676, 83, 2975, 594, 214, 7980, 844, 13258, 528, 459], 853
First date: 2016-08-19
Previous date: 2016-08-19 -> Next date: 2016-11-27
Previous date: 2016-11-27 -> Next date: 2017-03-07
First date: 2016-08-19
Previous date: 2016-08-19 -> Next date: 2016-11-27
Previous date: 2016-11-27 -> Next date: 2017-03-07
First date: 2016-08-19
Previous date: 2016-08-19 -> Next date: 2016-11-27
Previous date: 2016-11-27 -> Next date: 2017-03-07
First date: 2016-08-19
Previous date: 2016-08-19 -> Next date: 2016-11-27
Previous date: 2016-11-27 -> Next date: 2017-03-07
First date: 2016-08-19
Previous date: 2016-08-19 -> Next date: 2016-11-27
Previous date: 2016-11-27 -> Next date: 2017-03-07
First date: 2016-08-19
Previous date: 2016-08-19 -> Next date: 2016-11-27
Previous date: 2016-11-27 -> Next date: 2017-03-07
First date: 2016-08-19
Previous date: 2016-08-19 -> Next date: 2016-11-27
Previous date: 2016-11-27 -> Next date: 2017-03-07
First date: 2016-08-19
Previous date: 2016-08-19 -> Next date: 2016-11-27
Previous date: 2016-11-27 -> Next date: 2017-03-07
First date: 2016-08-19
Previous date: 2016-08-19 -> Next date: 2016-11-27
Previous date: 2016-11-27 -> Next date: 2017-03-07
First date: 2016-08-19
Previous date: 2016-08-19 -> Next date: 2016-11-27
Previous date: 2016-11-27 -> Next date: 2017-03-07
First date: 2016-08-19
Previous date: 2016-08-19 -> Next date: 2016-11-27
Previous date: 2016-11-27 -> Next date: 2017-03-07
First date: 2016-08-19
Previous date: 2016-08-19 -> Next date: 2016-11-27
Previous date: 2016-11-27 -> Next date: 2017-03-07
First date: 2016-08-19
Previous date: 2016-08-19 -> Next date: 2016-11-27
Previous date: 2016-11-27 -> Next date: 2017-03-07
First date: 2016-08-19
Previous date: 2016-08-19 -> Next date: 2016-11-27
Previous date: 2016-11-27 -> Next date: 2017-03-07
First date: 2016-08-19
Previous date: 2016-08-19 -> Next date: 2016-11-27
Previous date: 2016-11-27 -> Next date: 2017-03-07
First date: 2016-08-19
Previous date: 2016-08-19 -> Next date: 2016-11-27
Previous date: 2016-11-27 -> Next date: 2017-03-07
First date: 2016-08-19
Previous date: 2016-08-19 -> Next date: 2016-11-27
Previous date: 2016-11-27 -> Next date: 2017-03-07
First date: 2016-08-19
Previous date: 2016-08-19 -> Next date: 2016-11-27
Previous date: 2016-11-27 -> Next date: 2017-03-07
First date: 2016-08-19
Previous date: 2016-08-19 -> Next date: 2016-11-27
Previous date: 2016-11-27 -> Next date: 2017-03-07
First date: 2016-08-19
Previous date: 2016-08-19 -> Next date: 2016-11-27
Previous date: 2016-11-27 -> Next date: 2017-03-07
Starting: 2017-08-11, 2018-05-13, [78, 8, 19, 42, 25, 30, 51, 14, 52, 20, 13, 10, 9, 251, 1, 65, 18, 6, 26, 27], 6397
First date: 2017-08-11
Previous date: 2017-08-11 -> Next date: 2017-11-19
Previous date: 2017-11-19 -> Next date: 2018-02-27
First date: 2017-08-11
Previous date: 2017-08-11 -> Next date: 2017-11-19
Previous date: 2017-11-19 -> Next date: 2018-02-27
First date: 2017-08-11
Previous date: 2017-08-11 -> Next date: 2017-11-19
Previous date: 2017-11-19 -> Next date: 2018-02-27
First date: 2017-08-11
Previous date: 2017-08-11 -> Next date: 2017-11-19
Previous date: 2017-11-19 -> Next date: 2018-02-27
First date: 2017-08-11
Previous date: 2017-08-11 -> Next date: 2017-11-19
Previous date: 2017-11-19 -> Next date: 2018-02-27
First date: 2017-08-11
Previous date: 2017-08-11 -> Next date: 2017-11-19
Previous date: 2017-11-19 -> Next date: 2018-02-27
First date: 2017-08-11
Previous date: 2017-08-11 -> Next date: 2017-11-19
Previous date: 2017-11-19 -> Next date: 2018-02-27
First date: 2017-08-11
Previous date: 2017-08-11 -> Next date: 2017-11-19
Previous date: 2017-11-19 -> Next date: 2018-02-27
First date: 2017-08-11
Previous date: 2017-08-11 -> Next date: 2017-11-19
Previous date: 2017-11-19 -> Next date: 2018-02-27
First date: 2017-08-11
Previous date: 2017-08-11 -> Next date: 2017-11-19
Previous date: 2017-11-19 -> Next date: 2018-02-27
First date: 2017-08-11
Previous date: 2017-08-11 -> Next date: 2017-11-19
Previous date: 2017-11-19 -> Next date: 2018-02-27
First date: 2017-08-11
Previous date: 2017-08-11 -> Next date: 2017-11-19
Previous date: 2017-11-19 -> Next date: 2018-02-27
First date: 2017-08-11
Previous date: 2017-08-11 -> Next date: 2017-11-19
Previous date: 2017-11-19 -> Next date: 2018-02-27
First date: 2017-08-11
Previous date: 2017-08-11 -> Next date: 2017-11-19
Previous date: 2017-11-19 -> Next date: 2018-02-27
First date: 2017-08-11
Previous date: 2017-08-11 -> Next date: 2017-11-19
Previous date: 2017-11-19 -> Next date: 2018-02-27
First date: 2017-08-11
Previous date: 2017-08-11 -> Next date: 2017-11-19
Previous date: 2017-11-19 -> Next date: 2018-02-27

In [144]:
first = 'https://api.sportmonks.com/v3/football/fixtures/between/2022-08-05/2022-09-10/78?'
second = 'api_token=' + API_key + '&per_page=50&select=name&include=metadata;formations;weatherReport:description,current;referees;events:type_id,addition,minute&filters=eventTypes:10,19,20,21;metadataTypes:567'
results = run_pages(first,second)
results

{'data': [{'name': 'Manchester United vs Brighton & Hove Albion',
   'id': 18535049,
   'sport_id': 1,
   'round_id': 274668,
   'stage_id': 77457864,
   'group_id': None,
   'aggregate_id': None,
   'league_id': 8,
   'season_id': 19734,
   'venue_id': 206,
   'state_id': 5,
   'starting_at_timestamp': None,
   'metadata': [{'id': 1157793,
     'metadatable_id': 18535049,
     'type_id': 567,
     'value_type': 'object',
     'values': {'pitch': 'GOOD'}}],
   'formations': [{'id': 336844,
     'fixture_id': 18535049,
     'participant_id': 78,
     'formation': '3-4-2-1',
     'location': 'away'},
    {'id': 336843,
     'fixture_id': 18535049,
     'participant_id': 14,
     'formation': '4-2-3-1',
     'location': 'home'}],
   'weatherreport': {'id': 103325,
    'fixture_id': 18535049,
    'venue_id': 206,
    'description': 'broken clouds',
    'current': None},
   'referees': [{'id': 3014813,
     'fixture_id': 18535049,
     'referee_id': 13537,
     'type_id': 9},
    {'id': 3014815, 'fixture_id': 18535049, 'referee_id': 12096, 'type_id': 8},
    {'id': 2571405, 'fixture_id': 18535049, 'referee_id': 12083, 'type_id': 7},
    {'id': 1488773,
     'fixture_id': 18535049,
     'referee_id': 15294,
     'type_id': 6}],
   'events': [{'id': 37436944,
     'type_id': 19,
     'sub_type_id': 1496,
     'fixture_id': 18535049,
     'player_id': 2206665,
     'related_player_id': None,
     'period_id': 4233245,
     'participant_id': 14,
     'addition': '2nd Yellow Card',
     'minute': 45,
     'sort_order': 1},
    {'id': 37423568,
     'type_id': 19,
     'sub_type_id': 1496,
     'fixture_id': 18535049,
     'player_id': 455376,
     'related_player_id': None,
     'period_id': 4233113,
     'participant_id': 14,
     'addition': '1st Yellow Card',
     'minute': 25,
     'sort_order': 1},
    {'id': 37467683,
     'type_id': 10,
     'sub_type_id': None,
     'fixture_id': 18535049,
     'player_id': 581000,
     'related_player_id': None,
     'period_id': 4233245,
     'participant_id': 78,
     'addition': 'Goal Confirmed',
     'minute': 69,
     'sort_order': 1},
    {'id': 37470771,
     'type_id': 19,
     'sub_type_id': 1496,
     'fixture_id': 18535049,
     'player_id': 955,
     'related_player_id': None,
     'period_id': 4233245,
     'participant_id': 14,
     'addition': '5th Yellow Card',
     'minute': 74,
     'sort_order': 1},
    {'id': 37451672,
     'type_id': 19,
     'sub_type_id': 1497,
     'fixture_id': 18535049,
     'player_id': 61780,
     'related_player_id': None,
     'period_id': 4233245,
     'participant_id': 78,
     'addition': '4th Yellow Card',
     'minute': 53,
     'sort_order': 1},
    {'id': 37451671,
     'type_id': 19,
     'sub_type_id': 1497,
     'fixture_id': 18535049,
     'player_id': 2884,
     'related_player_id': None,
     'period_id': 4233245,
     'participant_id': 14,
     'addition': '3rd Yellow Card',
     'minute': 53,
     'sort_order': 1}]},
  {'name': 'Brighton & Hove Albion vs Newcastle United',
   'id': 18535054,
   'sport_id': 1,
   'round_id': 274669,
   'stage_id': 77457864,
   'group_id': None,
   'aggregate_id': None,
   'league_id': 8,
   'season_id': 19734,
   'venue_id': 480,
   'state_id': 5,
   'starting_at_timestamp': None,
   'metadata': [{'id': 1171415,
     'metadatable_id': 18535054,
     'type_id': 567,
     'value_type': 'object',
     'values': {'pitch': 'GOOD'}}],
   'formations': [{'id': 336854,
     'fixture_id': 18535054,
     'participant_id': 20,
     'formation': '4-3-3',
     'location': 'away'},
    {'id': 336853,
     'fixture_id': 18535054,
     'participant_id': 78,
     'formation': '3-4-2-1',
     'location': 'home'}],
   'weatherreport': {'id': 104269,
    'fixture_id': 18535054,
    'venue_id': 480,
    'description': 'sky is clear',
    'current': None},
   'referees': [{'id': 2571328,
     'fixture_id': 18535054,
     'referee_id': 14012,
     'type_id': 9},
    {'id': 2571332, 'fixture_id': 18535054, 'referee_id': 12018, 'type_id': 8},
    {'id': 4479823, 'fixture_id': 18535054, 'referee_id': 12711, 'type_id': 7},
    {'id': 3507978,
     'fixture_id': 18535054,
     'referee_id': 13529,
     'type_id': 6}],
   'events': [{'id': 38593102,
     'type_id': 19,
     'sub_type_id': None,
     'fixture_id': 18535054,
     'player_id': 216612,
     'related_player_id': None,
     'period_id': 4243359,
     'participant_id': 78,
     'addition': '2nd Yellow Card',
     'minute': 34,
     'sort_order': 1},
    {'id': 38794562,
     'type_id': 19,
     'sub_type_id': None,
     'fixture_id': 18535054,
     'player_id': 32372,
     'related_player_id': None,
     'period_id': 4243797,
     'participant_id': 20,
     'addition': '5th Yellow Card',
     'minute': 90,
     'sort_order': 1},
    {'id': 38580338,
     'type_id': 19,
     'sub_type_id': None,
     'fixture_id': 18535054,
     'player_id': 32508,
     'related_player_id': None,
     'period_id': 4243359,
     'participant_id': 20,
     'addition': '1st Yellow Card',
     'minute': 22,
     'sort_order': 1},
    {'id': 38681150,
     'type_id': 19,
     'sub_type_id': None,
     'fixture_id': 18535054,
     'player_id': 33645,
     'related_player_id': None,
     'period_id': 4243797,
     'participant_id': 20,
     'addition': '4th Yellow Card',
     'minute': 58,
     'sort_order': 1},
    {'id': 38681151,
     'type_id': 19,
     'sub_type_id': None,
     'fixture_id': 18535054,
     'player_id': 2423,
     'related_player_id': None,
     'period_id': 4243797,
     'participant_id': 78,
     'addition': '3rd Yellow Card',
     'minute': 58,
     'sort_order': 1}]},
  {'name': 'West Ham United vs Brighton & Hove Albion',
   'id': 18535250,
   'sport_id': 1,
   'round_id': 274670,
   'stage_id': 77457864,
   'group_id': None,
   'aggregate_id': None,
   'league_id': 8,
   'season_id': 19734,
   'venue_id': 214,
   'state_id': 5,
   'starting_at_timestamp': None,
   'metadata': [{'id': 1194569,
     'metadatable_id': 18535250,
     'type_id': 567,
     'value_type': 'object',
     'values': {'pitch': 'GOOD'}}],
   'formations': [{'id': 337006,
     'fixture_id': 18535250,
     'participant_id': 78,
     'formation': '3-4-2-1',
     'location': 'away'},
    {'id': 337005,
     'fixture_id': 18535250,
     'participant_id': 1,
     'formation': '4-3-3',
     'location': 'home'}],
   'weatherreport': {'id': 107062,
    'fixture_id': 18535250,
    'venue_id': 214,
    'description': 'scattered clouds',
    'current': None},
   'referees': [{'id': 3014434,
     'fixture_id': 18535250,
     'referee_id': 14532,
     'type_id': 6},
    {'id': 3014431, 'fixture_id': 18535250, 'referee_id': 12794, 'type_id': 7},
    {'id': 1497863, 'fixture_id': 18535250, 'referee_id': 12798, 'type_id': 8},
    {'id': 3506714,
     'fixture_id': 18535250,
     'referee_id': 13529,
     'type_id': 9}],
   'events': [{'id': 40606303,
     'type_id': 19,
     'sub_type_id': None,
     'fixture_id': 18535250,
     'player_id': 1261,
     'related_player_id': None,
     'period_id': 4266477,
     'participant_id': 1,
     'addition': '2nd Yellow Card',
     'minute': 71,
     'sort_order': 1},
    {'id': 40563763,
     'type_id': 10,
     'sub_type_id': None,
     'fixture_id': 18535250,
     'player_id': 627,
     'related_player_id': None,
     'period_id': 4266281,
     'participant_id': 78,
     'addition': 'Penalty cancelled',
     'minute': 21,
     'sort_order': 1},
    {'id': 40562733,
     'type_id': 19,
     'sub_type_id': None,
     'fixture_id': 18535250,
     'player_id': 32738,
     'related_player_id': None,
     'period_id': 4266281,
     'participant_id': 1,
     'addition': '1st Yellow Card',
     'minute': 20,
     'sort_order': 1}]},
  {'name': 'Forest Green Rovers vs Brighton & Hove Albion',
   'id': 18645575,
   'sport_id': 1,
   'round_id': None,
   'stage_id': 77458043,
   'group_id': None,
   'aggregate_id': None,
   'league_id': 27,
   'season_id': 19802,
   'venue_id': 996,
   'state_id': 5,
   'starting_at_timestamp': None,
   'metadata': [],
   'formations': [{'id': 345604,
     'fixture_id': 18645575,
     'participant_id': 78,
     'formation': '3-4-2-1',
     'location': 'away'},
    {'id': 345603,
     'fixture_id': 18645575,
     'participant_id': 177,
     'formation': '3-5-2',
     'location': 'home'}],
   'weatherreport': {'id': 107783,
    'fixture_id': 18645575,
    'venue_id': 996,
    'description': 'light rain',
    'current': None},
   'referees': [{'id': 2586365,
     'fixture_id': 18645575,
     'referee_id': 14813,
     'type_id': 6},
    {'id': 3229924, 'fixture_id': 18645575, 'referee_id': 14659, 'type_id': 9},
    {'id': 3506559,
     'fixture_id': 18645575,
     'referee_id': 12099,
     'type_id': 7}],
   'events': [{'id': 40971703,
     'type_id': 19,
     'sub_type_id': None,
     'fixture_id': 18645575,
     'player_id': 9577,
     'related_player_id': None,
     'period_id': 4272838,
     'participant_id': 177,
     'addition': '3rd Yellow Card',
     'minute': 66,
     'sort_order': 1},
    {'id': 40971661,
     'type_id': 19,
     'sub_type_id': None,
     'fixture_id': 18645575,
     'player_id': 37374545,
     'related_player_id': None,
     'period_id': 4272838,
     'participant_id': 177,
     'addition': '2nd Yellow Card',
     'minute': 64,
     'sort_order': 1},
    {'id': 40971445,
     'type_id': 19,
     'sub_type_id': None,
     'fixture_id': 18645575,
     'player_id': 24818803,
     'related_player_id': None,
     'period_id': 4272838,
     'participant_id': 78,
     'addition': '1st Yellow Card',
     'minute': 61,
     'sort_order': 1},
    {'id': 40972921,
     'type_id': 19,
     'sub_type_id': None,
     'fixture_id': 18645575,
     'player_id': 7570,
     'related_player_id': None,
     'period_id': 4272838,
     'participant_id': 177,
     'addition': '4th Yellow Card',
     'minute': 77,
     'sort_order': 1}]},
  {'name': 'Brighton & Hove Albion vs Leeds United',
   'id': 18535254,
   'sport_id': 1,
   'round_id': 274671,
   'stage_id': 77457864,
   'group_id': None,
   'aggregate_id': None,
   'league_id': 8,
   'season_id': 19734,
   'venue_id': 480,
   'state_id': 5,
   'starting_at_timestamp': None,
   'metadata': [{'id': 1207596,
     'metadatable_id': 18535254,
     'type_id': 567,
     'value_type': 'object',
     'values': {'pitch': 'GOOD'}}],
   'formations': [{'id': 337014,
     'fixture_id': 18535254,
     'participant_id': 71,
     'formation': '4-2-3-1',
     'location': 'away'},
    {'id': 337013,
     'fixture_id': 18535254,
     'participant_id': 78,
     'formation': '3-5-2',
     'location': 'home'}],
   'weatherreport': {'id': 108194,
    'fixture_id': 18535254,
    'venue_id': 480,
    'description': 'light rain',
    'current': None},
   'referees': [{'id': 3014400,
     'fixture_id': 18535254,
     'referee_id': 13537,
     'type_id': 6},
    {'id': 2570856, 'fixture_id': 18535254, 'referee_id': 12019, 'type_id': 8},
    {'id': 3014399, 'fixture_id': 18535254, 'referee_id': 12096, 'type_id': 7},
    {'id': 4479601,
     'fixture_id': 18535254,
     'referee_id': 14805,
     'type_id': 9}],
   'events': [{'id': 69221571,
     'type_id': 19,
     'sub_type_id': None,
     'fixture_id': 18535254,
     'player_id': None,
     'related_player_id': None,
     'period_id': 4278522,
     'participant_id': 71,
     'addition': None,
     'minute': 9,
     'sort_order': 1},
    {'id': 41525159,
     'type_id': 19,
     'sub_type_id': None,
     'fixture_id': 18535254,
     'player_id': 6504,
     'related_player_id': None,
     'period_id': 4278522,
     'participant_id': 78,
     'addition': '4th Yellow Card',
     'minute': 81,
     'sort_order': 1},
    {'id': 41352276,
     'type_id': 19,
     'sub_type_id': None,
     'fixture_id': 18535254,
     'player_id': 186922,
     'related_player_id': None,
     'period_id': 4278039,
     'participant_id': 71,
     'addition': '2nd Yellow Card',
     'minute': 34,
     'sort_order': 1},
    {'id': 41484136,
     'type_id': 10,
     'sub_type_id': None,
     'fixture_id': 18535254,
     'player_id': 31504,
     'related_player_id': None,
     'period_id': 4278522,
     'participant_id': 78,
     'addition': 'Goal Confirmed',
     'minute': 66,
     'sort_order': 1},
    {'id': 41541929,
     'type_id': 19,
     'sub_type_id': None,
     'fixture_id': 18535254,
     'player_id': 216612,
     'related_player_id': None,
     'period_id': 4278522,
     'participant_id': 78,
     'addition': '5th Yellow Card',
     'minute': 87,
     'sort_order': 1},
    {'id': 41359038,
     'type_id': 19,
     'sub_type_id': None,
     'fixture_id': 18535254,
     'player_id': 4552689,
     'related_player_id': None,
     'period_id': 4278039,
     'participant_id': 71,
     'addition': '3rd Yellow Card',
     'minute': 37,
     'sort_order': 1},
    {'id': 41309711,
     'type_id': 19,
     'sub_type_id': None,
     'fixture_id': 18535254,
     'player_id': 29478,
     'related_player_id': None,
     'period_id': 4278039,
     'participant_id': 71,
     'addition': '1st Yellow Card',
     'minute': 8,
     'sort_order': 1}]},
  {'name': 'Fulham vs Brighton & Hove Albion',
   'id': 18535063,
   'sport_id': 1,
   'round_id': 274672,
   'stage_id': 77457864,
   'group_id': None,
   'aggregate_id': None,
   'league_id': 8,
   'season_id': 19734,
   'venue_id': 485,
   'state_id': 5,
   'starting_at_timestamp': None,
   'metadata': [{'id': 1218264,
     'metadatable_id': 18535063,
     'type_id': 567,
     'value_type': 'object',
     'values': {'pitch': 'GOOD'}}],
   'formations': [{'id': 336872,
     'fixture_id': 18535063,
     'participant_id': 78,
     'formation': '3-4-2-1',
     'location': 'away'},
    {'id': 336871,
     'fixture_id': 18535063,
     'participant_id': 11,
     'formation': '4-2-3-1',
     'location': 'home'}],
   'weatherreport': {'id': 109780,
    'fixture_id': 18535063,
    'venue_id': 485,
    'description': 'overcast clouds',
    'current': None},
   'referees': [{'id': 2571275,
     'fixture_id': 18535063,
     'referee_id': 12083,
     'type_id': 7},
    {'id': 2354891, 'fixture_id': 18535063, 'referee_id': 14665, 'type_id': 8},
    {'id': 3505747, 'fixture_id': 18535063, 'referee_id': 14846, 'type_id': 6},
    {'id': 3505752,
     'fixture_id': 18535063,
     'referee_id': 15835,
     'type_id': 9}],
   'events': [{'id': 42273972,
     'type_id': 19,
     'sub_type_id': None,
     'fixture_id': 18535063,
     'player_id': 581067,
     'related_player_id': None,
     'period_id': 4290144,
     'participant_id': 11,
     'addition': '2nd Yellow Card',
     'minute': 68,
     'sort_order': 1},
    {'id': 42269085,
     'type_id': 10,
     'sub_type_id': None,
     'fixture_id': 18535063,
     'player_id': 187969,
     'related_player_id': None,
     'period_id': 4290144,
     'participant_id': 78,
     'addition': 'Penalty confirmed',
     'minute': 58,
     'sort_order': 1},
    {'id': 42280628,
     'type_id': 19,
     'sub_type_id': None,
     'fixture_id': 18535063,
     'player_id': 1409,
     'related_player_id': None,
     'period_id': 4290144,
     'participant_id': 11,
     'addition': '3rd Yellow Card',
     'minute': 83,
     'sort_order': 1},
    {'id': 42267276,
     'type_id': 19,
     'sub_type_id': None,
     'fixture_id': 18535063,
     'player_id': 187969,
     'related_player_id': None,
     'period_id': 4290144,
     'participant_id': 78,
     'addition': '1st Yellow Card',
     'minute': 55,
     'sort_order': 1}]},
  {'name': 'Brighton & Hove Albion vs Leicester City',
   'id': 18535073,
   'sport_id': 1,
   'round_id': 274673,
   'stage_id': 77457864,
   'group_id': None,
   'aggregate_id': None,
   'league_id': 8,
   'season_id': 19734,
   'venue_id': 480,
   'state_id': 5,
   'starting_at_timestamp': None,
   'metadata': [{'id': 1232328,
     'metadatable_id': 18535073,
     'type_id': 567,
     'value_type': 'object',
     'values': {'pitch': 'GOOD'}}],
   'formations': [{'id': 336892,
     'fixture_id': 18535073,
     'participant_id': 42,
     'formation': '4-3-1-2',
     'location': 'away'},
    {'id': 336891,
     'fixture_id': 18535073,
     'participant_id': 78,
     'formation': '3-5-2',
     'location': 'home'}],
   'weatherreport': {'id': 111574,
    'fixture_id': 18535073,
    'venue_id': 480,
    'description': 'light rain',
    'current': None},
   'referees': [{'id': 2571268,
     'fixture_id': 18535073,
     'referee_id': 14533,
     'type_id': 9},
    {'id': 2117841, 'fixture_id': 18535073, 'referee_id': 14807, 'type_id': 6},
    {'id': 4479818, 'fixture_id': 18535073, 'referee_id': 12712, 'type_id': 7},
    {'id': 3504867,
     'fixture_id': 18535073,
     'referee_id': 12093,
     'type_id': 8}],
   'events': [{'id': 43342759,
     'type_id': 19,
     'sub_type_id': None,
     'fixture_id': 18535073,
     'player_id': 216612,
     'related_player_id': None,
     'period_id': 4302911,
     'participant_id': 78,
     'addition': '2nd Yellow Card',
     'minute': 12,
     'sort_order': 1},
    {'id': 43338138,
     'type_id': 19,
     'sub_type_id': None,
     'fixture_id': 18535073,
     'player_id': 10309700,
     'related_player_id': None,
     'period_id': 4302911,
     'participant_id': 42,
     'addition': '1st Yellow Card',
     'minute': 4,
     'sort_order': 1},
    {'id': 43391289,
     'type_id': 10,
     'sub_type_id': None,
     'fixture_id': 18535073,
     'player_id': 216612,
     'related_player_id': None,
     'period_id': 4303253,
     'participant_id': 78,
     'addition': 'Goal confirmed',
     'minute': 47,
     'sort_order': 1}]}],
 'pagination': {'count': 7,
  'per_page': 50,
  'current_page': 1,
  'next_page': None,
  'has_more': False},
 'subscription': [{'meta': {'trial_ends_at': '2024-11-04 11:48:51',
    'ends_at': '2024-11-04 11:48:51',
    'current_timestamp': 1730211223},
   'plans': [{'plan': 'European Plan',
     'sport': 'Football',
     'category': 'Advanced'}],
   'add_ons': [],
   'widgets': []}],
 'rate_limit': {'resets_in_seconds': 3600,
  'remaining': 2999,
  'requested_entity': 'Fixture'},
 'timezone': 'UTC'}

In [176]:
fixtures = {'fixture_id':[], 'name': [], 'league_id':[], 'season_id':[], 'venue_id':[], 'formation_away':[], 'formation_home': [], 'referee':[]}
events = []
weather_pitch = {'fixture_id':[], 'pitch': [], 'weatherDescription':[], 'current':[]}
referee = {}
for result in results['data']:
    #all events
    events = events + result['events']

    #creating weather dataset
    weather_pitch['fixture_id'].append(result['id'])
    if result['metadata']:
        weather_pitch['pitch'].append(result['metadata'][0]['values']['pitch'])
    else:
        weather_pitch['pitch'].append('NaN')
    if result.get('weatherreport') and 'description' in result['weatherreport']:
        weather_pitch['weatherDescription'].append(result['weatherreport']['description'])
    else:
        weather_pitch['weatherDescription'].append('NaN')
    if result.get('weatherreport') and 'description' in result['weatherreport']:
        weather_pitch['current'].append(result['weatherreport']['current'])
    else:
        weather_pitch['current'].append('NaN')
    
    #creating fixture dataset
    fixtures['fixture_id'].append(result['id'])
    fixtures['name'].append(result['name'])
    fixtures['league_id'].append(result['league_id'])
    fixtures['season_id'].append(result['season_id'])
    fixtures['venue_id'].append(result['venue_id'])
    fixtures['formation_away'].append(result['formations'][0]['formation'])
    fixtures['formation_home'].append(result['formations'][1]['formation'])
    #choosing the main referee -> type 6
    fixtures['referee'].append(result['referees'])

In [126]:
fixtures = pd.DataFrame.from_dict(fixtures)

In [134]:
events = {'data': events}
events = pd.DataFrame.from_dict(events['data'])
events.to_csv('data/events.csv')

In [177]:
weather_pitch

{'fixture_id': [18535041,
  18535056,
  18535242,
  18645567,
  18535257,
  18535067,
  18535077,
  18535093,
  18535105,
  18535115,
  18535277,
  18535283,
  18535125,
  18535139,
  18671647,
  18535297],
 'pitch': ['GOOD',
  'GOOD',
  'GOOD',
  'NaN',
  'GOOD',
  'GOOD',
  'GOOD',
  'GOOD',
  'GOOD',
  'GOOD',
  'GOOD',
  'GOOD',
  'GOOD',
  'GOOD',
  'NaN',
  'GOOD'],
 'weatherDescription': ['sky is clear',
  'light rain',
  'scattered clouds',
  'overcast clouds',
  'light rain',
  'overcast clouds',
  'NaN',
  'light rain',
  'few clouds',
  'NaN',
  'sky is clear',
  'light rain',
  'light rain',
  'heavy intensity rain',
  'NaN',
  'broken clouds'],
 'current': [None,
  None,
  None,
  None,
  None,
  None,
  'NaN',
  None,
  None,
  'NaN',
  None,
  None,
  None,
  None,
  'NaN',
  None]}

In [140]:
weather_pitch = pd.DataFrame.from_dict(weather_pitch)
weather_pitch.drop_duplicates()

ValueError: All arrays must be of the same length

In [161]:
events = {'data': events}
events = pd.DataFrame.from_dict(events['data'])
events.to_csv(f'data/events/events_.csv')
fixtures = pd.DataFrame.from_dict(fixtures)
fixtures.to_csv(f'data/fixtures/fixtures_.csv') 
weather_pitch = pd.DataFrame.from_dict(weather_pitch)
weather_pitch.to_csv(f'data/weather/weather.csv')