In [1]:
import requests
import pandas as pd
import time
from pygame import mixer #for sound
from datetime import datetime, timedelta #for looping over date
import numpy as np

pygame 2.6.1 (SDL 2.28.4, Python 3.12.3)
Hello from the pygame community. https://www.pygame.org/contribute.html

In [2]:
API_key = 'JTFthLtGYuKFQK47MPvQcrabXJRJPk5nUEgaric4f17oP5VJcHyHqsqCMWXu'

#append to dictipnary 
def app_dictionary(id, list, dictionary):
    if id not in dictionary: #checks if column with key already exists 
        dictionary[id] = [list]
    else:
        dictionary[id].append(list) #if yes, it appends to key value

#running api calls and returning result + pagination
def run_api(api_call):
    try:
        result = requests.get(api_call)
        result = result.json()
    except ValueError:
        print(f"Failed to decode JSON. Please check API call: {api_call}")

    #checks if there is a next page
    #if yes it returns true, if no it returns false
    try:
        has_more = result['pagination']['has_more']
    except:
        has_more = False

    try:
        rate_limit = result['rate_limit']['remaining']
        reset = result['rate_limit']['resets_in_seconds']
    except:
        print('no rate limit available')

    return result, has_more, rate_limit, reset

#function for playing sound
def play_sound():
    mixer.init()
    mixer.music.load('done-for-you.mp3')
    mixer.music.play()

def run_pages(api_first, api_second): 
    results, has_more, rate_limit, reset = run_api(f"{api_first}{api_second}")

    page = 2
    while has_more == True:
        if int(rate_limit) > 1:
            next_results, has_more, rate_limit, reset = run_api(f"{api_first}page={page}&{api_second}")
            results['data'] = results['data'] + next_results['data']
            page += 1
        else:
            print(f'Starting sleep timer for: {reset} seconds...')
            time.sleep(int(reset))
    else:
        pass
        
    return results

### **Load data**
<br>
Need to find which teams have played for which seasons, and then set the time interval to the season duration and only get the data for the correct teams.

In [3]:
teams_df = pd.read_csv('data/teams.csv')
seasons_df = pd.read_csv('data/seasons.csv')
leagues_df = pd.read_csv('data/leagues.csv')

Creating dictionary with seasons start date, end date, id, and teams participating in the season

In [48]:
season_dict = {'id':[], 'starting_at':[], 'ending_at':[]}
for row in seasons_df.index:
    app_dictionary('id', str(seasons_df.iloc[row]['id']), season_dict)
    app_dictionary('starting_at', str(seasons_df.iloc[row]['starting_at']), season_dict)
    app_dictionary('ending_at', seasons_df.iloc[row]['ending_at'], season_dict)
    app_dictionary('teams', [i for i in teams_df.loc[teams_df['season_id'] == int(seasons_df.iloc[row]['id'])]['id']], season_dict)

In [54]:
season_dict = pd.DataFrame.from_dict(season_dict)
season_dict.to_csv('data/seasons_info.csv')
season_dict.head()

,id,starting_at,ending_at,teams
0,19734,2022-08-05,2023-05-28,"[78, 11, 8, 19, 42, 29, 71, 51, 14, 236, 52, 2..."
1,19744,2022-08-05,2023-05-27,"[3317, 1079, 510, 3321, 3543, 68, 82, 3320, 67..."
2,19799,2022-08-12,2023-06-04,"[3477, 3468, 485, 36, 1099, 361, 6827, 645, 23..."
3,19806,2022-08-13,2023-06-11,"[10722, 2930, 397, 522, 1123, 625, 345, 1628, ..."
4,21646,2023-08-11,2024-05-19,"[78, 11, 8, 19, 29, 115, 51, 21, 14, 236, 52, ..."

In [63]:
start_dates = season_dict['starting_at']
end_dates = season_dict['ending_at']
teams_inSeasons = season_dict['teams']
season_id = season_dict['id']

# This allows you to work with all rows at once
for start_date, end_date, teams_inSeason, season_id in zip(start_dates, end_dates, teams_inSeasons, season_id):
    print(start_date, end_date, teams_inSeason, season_id)

2022-08-05 2023-05-28 [78, 11, 8, 19, 42, 29, 71, 51, 14, 236, 52, 20, 63, 13, 9, 1, 65, 18, 15, 6] 19734
2022-08-05 2023-05-27 [3317, 1079, 510, 3321, 3543, 68, 82, 3320, 67, 277, 90, 683, 3319, 999, 2726, 366, 794, 503] 19744
2022-08-12 2023-06-04 [3477, 3468, 485, 36, 1099, 361, 6827, 645, 231, 676, 83, 594, 214, 7980, 618, 106, 13258, 528, 459, 377] 19799
2022-08-13 2023-06-11 [10722, 2930, 397, 522, 1123, 625, 345, 1628, 708, 346, 7743, 113, 109, 43, 37, 613, 7790, 8513, 2714, 597] 19806
2023-08-11 2024-05-19 [78, 11, 8, 19, 29, 115, 51, 21, 14, 236, 52, 20, 63, 13, 9, 1, 18, 15, 6, 27] 21646
2023-08-11 2024-05-26 [377, 3477, 3468, 103, 485, 2921, 36, 6827, 645, 231, 676, 83, 2975, 594, 214, 7980, 618, 106, 13258, 459] 21694
2023-08-18 2024-05-18 [1079, 510, 3321, 3543, 68, 82, 3320, 277, 90, 683, 3319, 2831, 999, 2726, 482, 366, 794, 503] 21795
2023-08-19 2024-06-02 [1628, 708, 346, 7743, 113, 102, 109, 43, 37, 4070, 613, 7790, 8513, 2714, 597, 2930, 397, 1123, 625, 585] 21818
2020-09-18 2021-05-22 [3317, 1079, 510, 3321, 3543, 68, 82, 2927, 3320, 67, 277, 90, 683, 3319, 2726, 366, 794, 503] 17361
2020-09-12 2021-05-23 [78, 11, 8, 19, 42, 29, 71, 51, 21, 14, 20, 13, 10, 9, 1, 65, 18, 15, 6, 27] 17420
2020-09-12 2021-05-23 [3477, 3468, 103, 485, 36, 3457, 1099, 60, 361, 6827, 676, 83, 2975, 594, 214, 7980, 106, 13258, 459, 274] 17480
2020-09-19 2021-05-23 [2930, 563, 522, 1123, 625, 585, 345, 89, 708, 346, 113, 102, 109, 43, 37, 613, 8513, 2714, 597, 398] 17488
2021-08-13 2022-05-22 [78, 8, 19, 42, 25, 29, 71, 51, 14, 236, 20, 33, 13, 9, 1, 65, 18, 15, 6, 27] 18378
2021-08-13 2022-05-14 [3317, 1079, 510, 3321, 3543, 68, 2927, 3431, 3320, 277, 90, 683, 3319, 999, 2726, 366, 794, 503] 18444
2021-08-13 2022-05-22 [377, 3477, 3468, 103, 485, 36, 3457, 1099, 6827, 645, 676, 83, 2975, 594, 214, 7980, 106, 13258, 528, 459] 18462
2021-08-21 2022-05-22 [2930, 397, 522, 1123, 625, 585, 345, 708, 346, 7743, 267, 113, 102, 109, 43, 37, 613, 8513, 2714, 597] 18576
2018-08-10 2019-05-12 [78, 11, 8, 19, 42, 69, 25, 29, 51, 14, 52, 20, 13, 9, 251, 1, 65, 18, 6, 27] 12962
2018-08-24 2019-05-18 [510, 3321, 3543, 68, 82, 67, 277, 90, 1092, 683, 3319, 956, 2554, 2726, 366, 794, 503, 3317] 13005
2018-08-17 2019-05-19 [3477, 3468, 485, 36, 3457, 60, 361, 231, 676, 83, 2975, 594, 214, 7980, 844, 106, 13258, 528, 274, 377] 13133
2018-08-18 2019-05-26 [708, 346, 394, 113, 102, 97, 109, 43, 37, 4070, 613, 8513, 2714, 597, 398, 2930, 397, 522, 625, 585] 13158
2019-08-09 2020-07-26 [78, 8, 19, 42, 25, 29, 51, 21, 14, 52, 20, 33, 13, 9, 1, 65, 18, 15, 6, 27] 16036
2019-08-16 2020-06-27 [3317, 1079, 510, 3321, 3543, 68, 82, 3320, 67, 277, 90, 1092, 683, 2642, 2726, 366, 794, 503] 16264
2019-08-16 2020-07-19 [3477, 3468, 103, 485, 36, 3457, 60, 361, 645, 676, 83, 2975, 594, 214, 7980, 844, 106, 13258, 528, 459] 16326
2019-08-24 2020-08-02 [708, 346, 10729, 394, 113, 102, 109, 43, 37, 613, 7790, 8513, 2714, 597, 398, 2930, 522, 1123, 625, 585] 16415
2016-08-13 2017-05-21 [8, 19, 42, 25, 30, 51, 14, 3, 52, 22, 13, 10, 9, 7, 1, 65, 18, 6, 26, 27] 13
2016-08-26 2017-05-20 [2726, 482, 366, 794, 503, 2708, 3317, 573, 510, 3321, 3543, 68, 82, 3320, 67, 277, 90, 683] 219
2016-08-20 2017-05-28 [89, 708, 346, 1216, 113, 102, 97, 109, 43, 37, 613, 1343, 8513, 2714, 597, 2930, 397, 522, 625, 585] 802
2016-08-19 2017-05-21 [126, 3477, 3468, 103, 485, 344, 429, 2921, 36, 60, 676, 83, 2975, 594, 214, 7980, 844, 13258, 528, 459] 853
2017-08-11 2018-05-13 [78, 8, 19, 42, 25, 30, 51, 14, 52, 20, 13, 10, 9, 251, 1, 65, 18, 6, 26, 27] 6397
2017-08-18 2018-05-12 [510, 3321, 3543, 68, 82, 3320, 67, 277, 90, 683, 3319, 2554, 2726, 366, 794, 503, 2708, 3317] 8026
2017-08-18 2018-05-20 [3477, 3468, 485, 429, 2921, 36, 3457, 60, 231, 676, 83, 2975, 594, 214, 7980, 844, 106, 13258, 528, 126] 8442
2017-08-19 2018-05-20 [89, 708, 346, 394, 113, 102, 97, 109, 43, 37, 613, 8513, 2714, 597, 2930, 563, 522, 1123, 625, 585] 8557
2015-08-08 2016-05-17 [8, 19, 42, 25, 30, 51, 14, 3, 52, 20, 33, 13, 10, 9, 1, 65, 18, 15, 6, 26] 10
2014-08-16 2015-05-24 [8, 19, 42, 30, 51, 47, 14, 3, 22, 20, 13, 10, 9, 1, 65, 18, 15, 6, 26, 27] 12
2014-08-22 2015-05-23 [510, 3321, 3543, 68, 82, 3320, 67, 90, 683, 3319, 2642, 2554, 2726, 366, 794, 503, 2708, 3317] 217
2015-08-14 2016-05-14 [2554, 2726, 482, 366, 794, 503, 2708, 3317, 573, 510, 3321, 68, 82, 3320, 67, 90, 683, 3319] 218
2014-08-30 2015-05-31 [708, 346, 1216, 113, 102, 97, 109, 43, 37, 613, 2714, 597, 398, 1234, 2930, 397, 522, 1123, 625, 585] 1583
2015-08-22 2016-05-15 [708, 346, 10824, 1216, 113, 102, 97, 109, 43, 37, 4070, 613, 8513, 2714, 597, 2930, 397, 522, 1123, 625] 1584
2014-08-23 2015-05-23 [429, 36, 3457, 1099, 60, 676, 83, 594, 214, 7980, 618, 106, 13258, 528, 931, 377, 126, 3477, 3468, 103] 2061
2015-08-21 2016-05-15 [377, 126, 3477, 3468, 103, 485, 344, 429, 2921, 36, 3457, 60, 676, 83, 594, 214, 7980, 106, 13258, 528] 2063
2013-08-17 2014-05-11 [11, 8, 19, 69, 30, 51, 14, 3, 22, 20, 33, 13, 10, 9, 1, 65, 18, 15, 6, 26] 3
2012-08-18 2013-05-19 [11, 8, 19, 30, 47, 14, 3, 17, 20, 33, 13, 10, 9, 1, 65, 18, 15, 6, 26, 23] 7
2012-08-24 2013-05-18 [510, 3321, 3543, 68, 82, 3431, 67, 90, 1092, 683, 3319, 956, 2554, 2726, 366, 794, 503, 2708] 215
2013-08-09 2014-05-10 [510, 3321, 3565, 3543, 68, 82, 67, 90, 683, 3319, 956, 2554, 2726, 366, 794, 503, 2708, 3317] 216
2012-08-25 2013-05-19 [9133, 708, 346, 3691, 1216, 113, 102, 97, 109, 43, 37, 613, 1343, 8513, 597, 398, 2930, 522, 625, 585] 1581
2013-08-24 2014-05-18 [9133, 708, 346, 10714, 113, 102, 97, 109, 43, 37, 613, 8513, 2714, 597, 398, 2930, 522, 1123, 625, 585] 1582
2012-08-18 2013-06-01 [3468, 103, 485, 429, 3968, 36, 3457, 361, 645, 676, 83, 594, 214, 7980, 106, 13258, 528, 459, 377, 126] 2059
2013-08-17 2014-05-18 [377, 126, 3477, 3468, 103, 485, 36, 3457, 1099, 361, 676, 83, 594, 214, 7980, 618, 106, 13258, 528, 459] 2060